@font-face {
  font-family: "sf_pro_displayblack_italic";
  src: url("fonts/sfprodisplayblackitalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplayblackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaybold";
  src: url("fonts/sfprodisplaybold-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplaybold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displayheavy_italic";
  src: url("fonts/sfprodisplayheavyitalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplayheavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaylight_italic";
  src: url("fonts/sfprodisplaylightitalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplaylightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaymedium";
  src: url("fonts/sfprodisplaymedium-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplaymedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displayregular";
  src: url("fonts/sfprodisplayregular-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplayregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaysemibold_italic";
  src: url("fonts/sfprodisplaysemibolditalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplaysemibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaythin_italic";
  src: url("fonts/sfprodisplaythinitalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplaythinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displayultraLtIt";
  src: url("fonts/sfprodisplayultralightitalic-webfont.woff2") format("woff2"),
    url("fonts/sfprodisplayultralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #000;
  font-family: "sf_pro_displayregular";
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  align-items: center;
  
}



.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  padding-left: 40%;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;

  
}

.jobs-logo img{
  width: 20px;

}
.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
  font-size: 20px;
  text-align: center;
}

.nav-links a:hover {
  background: #555;
  border-radius: 5px;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: end;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Responsieve styling */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 200px;
      border-radius: 5px;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}


header {
  height: 100vh;
  background-image: url(images/hero-header.jpg);
  background-size: cover;
  background-position: top right;
  justify-content: space-evenly;
  justify-items: center;
  display: flex;
  align-content: center;
  align-items: flex-end;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.info {
  color: #fff;
}

.intro-flex {
  font-size: 28px;
  color: #fff;
  text-align: center;

  width: 20%;
  margin-left: 40%;
  margin-bottom: 10%;
}

h1 {
  font-size: 56px;
}
.wrapper2 {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  color: black;

  padding-top: 30px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0 0 0px;
  width: 80%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10%;
}

h1 {
  justify-content: center;
  padding-left: 10%;
}

.container2 img {
  width: 12.5%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid beige;
  transition: all ease-in-out 0.5s;
  justify-content: start;
}

.container2 img:hover {
  width: 40%;
}

.text-steve {
  padding-right: 10%;
  margin-right: 10%;
}

.wrapper3 {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  color: black;

  padding-top: 30px;
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0 0 0px;
  width: 80%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10%;
}

.container3 img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid beige;
  transition: all ease-in-out 0.5s;
  justify-content: start;
}

.container3 img:hover {
  width: 45%;
}

